.looksDisabled{
    color:rgb(188, 188, 188) !important;
    text-decoration: none;
}

.results-container{
    width:40%;
    margin:auto;
}

/* Header */

.results-header-container{
    display:flex;
    flex-flow:column nowrap;
    align-items: flex-start;
}
.results-header-container ul{
    display:flex;
    justify-content: flex-start;
    list-style: none;
}

.results-header-container p{
    font-size: 20px;
    margin:10px;
}

.results-nav{
    font-size: 30px;
}

.results-nav li{
    margin:10px;
}

.results-nav li a{
    color:teal;
}

/* Body */

.results-body-container{

}
