.looksDisabled{
    color:rgb(188, 188, 188) !important;
    text-decoration: none;
}

.results-container{
    width:40%;
    padding-top:calc(30px - 10px);
    width: 1050px;
    margin:auto;
    margin-bottom: 40px;
}

/* Header */

.results-header-container{
    display:flex;
    flex-flow:column nowrap;
    align-items: flex-start;
}

.results-nav{
    font-size: 25px;
    display:flex;
    justify-content: center;
    width:100%;
}

.results-nav a{
    color:#00e1ff;
    margin:10px;
}



/* Body */

.results-body-container{
    box-shadow: 0 10px 30px 1px rgb(227, 227, 227);
    position:relative;
    border-radius: 20px;
    margin-top: 100px;
}
.results-body-wrapper{
    border:1px solid transparent;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.results-subheader-wrapper{
    position:absolute;
    padding-top:10px;
    top:-75px;
    left:calc(525px - 200px);
    width:400px;
    text-align: center;
    box-shadow: 0 -5px 10px -5px rgb(216, 216, 216);
    color:rgb(70, 70, 70);
    background-color: white;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.results-subheader-wrapper h2{
    font-size: 45px;
    margin:0 auto;
    font-family: "Dongle";
}
