.home-container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:60%;
    max-width:1300px;
    margin:0 auto;
}

/* Section One */

.section-one-container{
    margin-top:60px;
    display:flex;
    justify-content: space-between;
}

.section-one-container  h1{
    font-size: 60px;
    margin-bottom:20px;
}

.section-one-container > div{
    width:50%;
}

.section-one-container > img{
    width:350px;
    height:350px;
}

/* Section Two */

.section-two-container{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:60%;
    margin-top:60px;
}

.section-two-container h2{
    font-size: 40px;
    margin-bottom:20px;
}

/* Section Three */

.section-three-container{
    display:flex;
    margin-top:60px;

}

.action-card-container{
    display:flex;
    align-items:center;
    flex-flow:column nowrap;
    margin: 0 20px;
}

.action-card-container img{
    width:250px;
    height:250px;
}

.action-card-container a, .action-card-container div {
    color:black;
    font-size:30px;
    margin:20px 0;
    text-decoration: none;
}
.action-card-container div{
    color:rgb(188, 188, 188)
}

.action-card-container a:hover{
    text-decoration:underline;
}

/* Section Four */

.section-four-container{
    margin:60px 0;
}

.section-four-container button{
    font-size:30px;
    padding:10px;
}
