

.home-container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:60%;
    max-width:1300px;
    margin:0 auto;
}

/* General */
.home-h1, .home-container  h2, .action-card-container a{
    font-family: 'Dongle', sans-serif;
}
.home-h1{
    font-size:95px;
    line-height: 65px;
}


/* Section One */

.section-one-container{
    margin-top:60px;
    display:flex;
    justify-content: space-between;
}

.home-h1{
    margin-bottom:20px;
}

.section-one-container > div{
    width:50%;
}

.section-one-container > img{
    width:350px;
    height:350px;
    border-radius:60px;
}

/* Section Two */

.section-two-container{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:60%;
    margin-top:60px;
}

.section-two-container h2{
    font-size: 60px;
    margin-bottom:20px;
}

/* Section Three */

.section-three-container{
    display:flex;
    margin-top:60px;

}

.action-card-container{
    display:flex;
    align-items:center;
    flex-flow:column nowrap;
    margin: 0 20px;
}

.action-card-container img{
    width:250px;
    height:250px;
    border-radius:60px;
}

.action-card-container a, .action-card-container div {
    color:black;
    font-size:50px;
    margin:20px 0;
    text-decoration: none;
}

.action-card-container a:hover{
    text-decoration:underline;
}

.isDisabled{
    color:rgb(188, 188, 188) !important;
    pointer-events: none;
}

/* Section Four */

.section-four-container{
    margin:60px 0;
}

.section-four-container button{
    font-size:30px;
    font-weight: bold;
    padding:20px 50px;
    border-radius:60px;
    border:none;
    /* background: linear-gradient(to right, #00a4ff, #00e1ff); */
    /* color:white; */
}
