@import url("SectionOne.css");
@import url("SectionTwo.css");
@import url("SectionThree.css");
@import url("SectionFour.css");

.home-container {
    padding-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
}

/* General */
.home-h1,
.home-container h2,
.action-card-container a {
    font-family: 'Dongle', sans-serif;
}

.home-image-container {
    position: relative;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0 0 50px 5px rgb(211, 211, 211);

}

.home-image-shadow {
    position: absolute;
    top: 0;
    z-index: 1000;
    margin: 0 !important;
}

.home-h1 {
    font-size: 90px;
    line-height: 55px;
}

.home-container img {}

@media (max-width: 1450px) {
    .home-container {
        width: 100%;
        padding-top: 20px;
    }

    .home-h1 {
        font-size: 90px;
        max-width: 490px;
        min-width:340px;
        margin:0 auto;
        margin-bottom: 20px;

    }
}
