/* Section Two */
.section-two-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
    margin-top: 60px;
}

.section-two-container h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

@media (max-width: 1450px) {

    .section-two-container{
        width: calc(100% - 40px);
        padding: 0 20px;
        align-items: center !important;
        margin-top:0 !important;
    }
    .section-two-container h2 {
        font-size: 50px;
        margin: 0;
    }
    .section-two-container p {
        width:calc(80% + 40px);
    }

}
