/* Section Three */

.section-three-container {
    display: flex;
    margin-top: 60px;
}

.action-card-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0 20px;
}

.action-card-image-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 50px 5px rgb(211, 211, 211);
    border-radius: 60px;
}

.action-card-container img {
    width: 250px;
    height: auto;
    border-radius: 60px;
}

.section-three-image-shadow {
    /* box-shadow: inset 0 0 30px 1px rgb(200, 200, 200); */
    width: 250px;
    border-radius: 60px;
    height: 250px;
}

.action-card-container a,
.action-card-container div {
    color: black;
    margin: 10px 0;
    font-size: 50px;
    text-decoration: none;
}

.action-card-container a:hover {}

.isDisabled {
    color: rgb(188, 188, 188) !important;
    pointer-events: none;
}

@media (max-width: 1450px) {
    .section-three-container {
        margin:20px 0;
    }
    .action-card-container {
        margin: 0;
    }

    .section-three-container p {
        width: 80%;
        padding: 0;
    }
    .action-card-image-container, .action-card-container img{
        border-radius: 60px;
    }
    .action-card-image-container {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 50px 5px rgb(211, 211, 211);

    }

    .action-card-container img {
        width: 200px;
        height: auto;
        border-radius: 25px;
    }

    .section-three-image-shadow {
        width: 200px;
        border-radius: 10px;
        height: auto;
    }
}
@media (max-width: 1250px) {
    .section-three-container {
        flex-flow: column;
    }
    .action-card-container img {
        width: 350px;
        height: auto;
        border-radius: 25px;
    }
}
