.nav-link{
    text-decoration: none !important;
}

.join-button{
    background-color: red;
    color:white;
}

/* Group List Item */
.item-container{
    display:flex;
    padding:20px;
    width:100%;
    border-top:1px solid black;
}
.image-container {
    width:250px;
    padding:0 !important;
    height:150px;
    border:1px solid rgb(210, 210, 210);
}
.image-container > img {
    object-fit: cover !important;
    width:250px;
    height:150px;
    padding:0 !important;
}

.text-container{
    display:flex;
    flex-flow:column nowrap;
    color:black;
    margin:0 auto;
}
 .about{
    width:400px;
 }

 /* Group ID Page */

 .group-page-container,
 .group-page-top-background,
 .group-page-bottom-background {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
 }
 .group-page-bottom-background{
    background-color:rgb(197, 197, 197);
 }

 .group-page-top-container,
 .group-page-bottom-container{
    display:flex;
    flex-flow: column nowrap;
    width:60%;
    margin:0 auto;
    padding:60px;
 }

 .group-page-content-row{
    display:flex;
    width:100%;
 }
 .group-page-content-row img{
    width:700px;
    height:350px;
    border:1px solid black;
    margin-right:20px;
 }
 .group-page-events-row{
    width:600px;
 }

 /* Group Preview */

 .group-preview-container{
    display:flex;
    background-color:white;
    border-radius:30px;
    padding:30px;
 }

 .group-preview-container img{
    width:120px !important;
    height:auto !important;
 }


 .event-page-details-card{
    display:flex;
    flex-flow:column nowrap;
    margin-top:20px;
}

.event-page-details-card-row{
    display:flex;
}

.event-page-details-date-pair{
    display:flex;
}

.event-page-details-date-pair-label{
    margin-right:10px;
}

/* Create Group Page */

.create-group-page-container{
    display:flex;
    flex-flow:column;
    width:70%;
    margin:0 auto;
}

.create-group-page-row{
     border-bottom:1px solid black;
     padding:30px 0;
     display:flex;
     flex-flow: column;
}

.create-group-page-row button,.create-group-page-row textarea,.create-group-page-row input, .create-group-page-row select{
    max-width: 200px;
}

.create-group-page-sub-row{
    display:flex;
    flex-flow:column;
}

.create-group-page-list{
    margin-left:15px;
}

.create-group-page-errors{
    color:red;
}

/* Delete a Group */
.delete-a-group-modal-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-flow:column nowrap;
}
.delete-a-group-modal-button-yes{
    background-color:red;
}
.delete-a-group-modal-button{
    width:100%;
}
