.content-management-page-wrapper{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:700px;
    margin:0 auto;
    margin-top:20px;
    box-shadow: 0 0 25px 5px #dddddd;
    border-radius: 20px;
    padding:20px;
}
.content-management-page-wrapper h2{
    margin-bottom:20px;
}
/* Group List Item */
.content-management-list-item{
    width:600px;
    display:flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    margin:20px;
}
.content-management-top-wrapper{
    display:flex;
}
.content-management-image-wrapper{
    width: 250px;
    height:150px;
    background-color: red;
    overflow: hidden;
    border-radius: 20px;
}
.content-management-list-item img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.content-management-list-item-details-wrapper{
    display:flex;
    flex-flow: column;
    justify-content: center;
    margin:0 20px;
}
.content-management-name{

}
.content-management-buttons-wrapper{
    display:flex;
    margin-top:10px;
}
.content-management-buttons-wrapper button{
    font-size:12px !important;
    width:90px;
    margin-right:5px;
    padding:5px 10px;
    border-radius:10px;
}
.content-management-delete-wrapper {
    display:inline;
    width:fit-content;
}
.content-management-delete-wrapper button{
    background-color: #ff808e;
}
.content-management-list-item-details-wrapper > button{
    background:none !important;
    color:black !important;
    width:fit-content !important;
    margin:10px 0;
    font-size:14px;
}
.content-management-show-events{
    cursor: pointer;
    font-size:14px;
}
.content-management-button-create-event{
    background:none;
    color:black !important;
}
.content-management-bottom-wrapper{
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-top:20px;
}

/* Event List Item */
.content-management-event-list-item-container{
    display:flex;
    width:400px;
    border-radius: 20px;
    margin-top:15px;
    padding:20px;
    overflow: hidden;
    background-color: rgb(237, 237, 237);
}
.content-management-image-container img{
    width:150px;
    height:120px
}
.content-management-text-container{
    display:flex;
    margin-left:20px;
    flex-flow: column;
    justify-content: center;
}
.content-management-text-container span{
    font-size: 14px;
    margin-bottom:10px
}
.content-management-text-container > button{
    background:none !important;
    margin-top:10px;
    background-color: none !important;
    color:black !important;
    width: fit-content;
    cursor: pointer;
    box-shadow: none !important;
}

.content-management-hide{
    display: none;
}

/* Edit Users Modal */
.edit-users-modal-container {
    height:200px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding:40px;
    border-radius: 30px;
}

.delete-a-group-modal-container h1{
    font-family: "Dongle";
    font-size:50px;
    line-height: 50px;
    align-self: flex-start;
    margin-bottom:10px;
}
.delete-a-group-modal-container p{
    margin-bottom:14px;
}

.delete-a-group-modal-button-yes {
    background-color: #ff808e;
}

.delete-a-group-modal-button {
    border-radius: 15px;
    padding:10px 20px;
    margin:0 auto;
    margin-top:10px;
    width:160px;
}

/* Edit Users List Item */
.edit-users-list-item-wrapper{
    display:flex;
    align-items: center;
    margin-top:5px;
}

.edit-users-list-item-wrapper span{
    border:1px solid black;
    border-radius: 2px;
    padding:1.5px 4px;
    margin-right: 10px;
    font-size: 13.8px;
}
.edit-users-list-item-wrapper select{
    margin-right:10px;
}

.edit-users-list-item-username{
    font-size:14px;
}
.edit-users-list-item-delete{
    margin-left:10px;
    cursor: pointer;
}
.edit-users-list-item-confirm-delete-wrapper{
    margin-top:5px;
    font-size: 12px;
    display: flex;
    width: fit-content;
    padding:5px 15px;
    border-radius: 3px;
}
.edit-users-list-item-confirm-delete-button{
    cursor:pointer;
    margin-left:10px;
}
.edit-users-list-item-confirm-delete-button-yes{
    color:red;
}

@media (max-width: 1050px) {
    .content-management-page-wrapper{
        width:calc(90% - 40px);
    }
    .content-management-list-item{
        width:100%;
    }
    .content-management-top-wrapper{
        display:flex;
        flex-flow: column;
    }
    .content-management-image-wrapper{
        margin-bottom: 20px;
    }
    .content-management-name{
        margin:20px;
        font-size: 20px
    }
    .content-management-list-item-details-wrapper{
        align-items: center;
    }

    .content-management-list-item-details-wrapper button,
    .content-management-bottom-wrapper button,
    .content-management-show-events
    {
        font-size: 16px!important;
        padding:10px;
        border-radius: 20px;
    }
    .content-management-event-list-item-container{
        display:flex;
        flex-flow: column;
        width:100%;
        align-items: center;
        text-align: center;
    }
    .content-management-event-list-item-container img{
        width:200px !important;
        margin-bottom:20px;
    }
    .content-management-text-container{
        margin:0;
        align-items: center;
    }
    .content-management-buttons-wrapper {
        justify-content: center;
    }
    .content-management-event-list-item-container button{
        margin:0
    }
}
