/* Event List Item */

.nav-link {
   text-decoration: none !important;
   color: black;
}
.event-list-item-container:hover .event-list-item-text-container>h2 {
   color: #00e1ff;
}

.event-details-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0 auto;
   margin-top: -5px;
   background-color: white;
}

.image-container {
   width: 322px;
   height: 200px;
   padding: 15px 0 !important;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;

}

.image-container > img {
   object-fit: cover;
   padding: 0 !important;
   border-radius: 20px;
   width: 322px;
   height: 200px;
}

.event-top-row-container {
   display: flex;
}

.event-bottom-row-container {
   display: flex;
   justify-content: flex-start;
   padding-top: 20px;
}

.event-list-item-text-container {
   display: flex;
   justify-content: center;
   flex-flow: column nowrap;
   color: black;
   height: 200px;
   margin-left: 68px;
}

.event-list-item-text-container>h2 {
   font-size: 25px;
   font-family: "Roboto";
   font-weight: bold;
}

.event-list-item-text-container>h3 {
   font-size: 18px;
   margin-top: 5px;
   color: rgb(99, 99, 99);
}

.event-list-item-text-container>p {
   width: 520px;
   font-size: 14px;
   word-wrap: break-word;
   margin: 10px 0;
}

.event-list-item-text-container>span {
   display: flex;
   font-size: 14px;
}

/* Event ID Page */
.event-page-container{
   width:1050px;
   margin:0 auto;
   padding-top:20px;
   margin-bottom:30px;
}
.event-page-bread-crumb-row a{
   text-decoration: none;
   font-family: "Dongle";
   font-size: 40px;
   color:black;
}
.event-page-bread-crumb-row a:hover{
   color: #00e1ff;
}

.event-page-container,
.event-page-top-background,
.event-page-bottom-background {
   width: 1050px;
   display: flex;
   flex-flow: column nowrap;
}
.event-page-content-wrapper{
   box-shadow: 0 5px 15px 1px #e6e6e6;
}
.event-page-content-wrapper,
.event-page-bottom-background {
   border-radius: 30px;
   overflow: hidden;
}
.event-page-top-background{
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.event-page-bottom-background {
   background-color: rgb(224, 224, 224);
}

.event-page-top-container,
.event-page-bottom-container {
   display: flex;
   flex-flow: column nowrap;
   padding: 60px;
}

.event-page-top-container > h1 {
   word-wrap: break-word;
}

.event-page-content-row,
.event-page-details-card-row {
   display: flex;
   width: 100%;
}
.event-page-details-card-row{
   justify-content: flex-start;
   align-items: center;
}
.event-page-image-container {
   width: 525px;
   height: 388px;
   padding: 0 !important;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
   box-shadow: 0 0 20px 10px #dddddd;

}
.event-page-image-container img {
   height: 388px;
   width: auto;
   border-radius: 20px;
   object-fit: cover;
}

.event-page-card-container{
   margin-left:60px;
   width: 344px;
}

.event-page-container i {
   color: rgb(117, 117, 117);
   font-size: 30px;
}

.event-page-details-card {
   background-color: white;
   border-radius: 30px;
   padding: 30px;

}

.event-page-details-card-icon-wrapper {
   margin: 10px 0;
   margin-right: 10px;
   width: 40px;
   display: flex;
   justify-content: center;
}

.event-page-details-card-row-item-pair-wrapper {
   display: flex;
   align-items: center;
}

.event-page-details-card-buttons {
   align-self: flex-end;
}
.event-page-details-card-attendance-row{
   margin-top:20px;
}

.event-page-details-card-last-row {
   justify-content: center;
   margin-top:20px;
}
.event-page-details-card-last-row button{
   border-radius: 15px;
    padding: 10px 20px;
    margin-left: 5px;
    background-color: #ff808f;
}
.event-page-update-button{
   background-color:#00e1ff !important;
}
.event-page-details-description-wrapper{
   margin-top:30px;
   width:100%;
   display:flex;
   flex-flow: column;
}
.event-page-details-description{
   word-wrap: break-word;
}

/* Create Event Page */

.create-event-page-container {
   display: flex;
    flex-flow: column;
    width: 1050px;
    padding-top:20px;
    margin: 0 auto;
}
.create-event-page-container span{
   font-size: 14px;
}

.create-event-page-form-container{
   width:500px;
   margin:40px auto;
   box-shadow: 0 10px 15px 5px #dddddd;
   padding:15px 40px;
   border-radius: 30px;
}

.create-event-page-row {
   border-bottom: 1px solid black;
   padding: 30px 0;
   display: flex;
   flex-flow: column;
}
.create-event-page-row h1{
   margin-bottom:30px;
   word-wrap: break-word;
}

.create-event-page-row button,
.create-event-page-row textarea,
.create-event-page-row input,
.create-event-page-row select {
   width:100%;
}
.create-event-page-row textarea{
   resize:none;
}

.create-group-page-row-input{
   padding:20px;
   padding-top:25px;
   margin:10px 0;
   font-size: 14px;
   border-radius: 25px;
   border:1px solid #f3f3f3;
}
.create-group-page-row-input:focus{
   outline-color:#00e1ff;
}
.create-event-page-sub-row {
   display: flex;
   flex-flow: column;
}

.create-event-page-list {
   margin-left: 15px;
}

.create-event-page-errors {
   color: red;
}

.create-event-page-price-input {
   text-align: right;
   width:120px !important;
}

.create-event-page-price-input-container {
   position: relative;
}

.create-event-page-price-input-overlay {
   position: absolute;
   top:34px;
   left:15px
}
.create-event-page-submit-row{
   width:100%;
   padding:20px 0;
   display:flex;
}
.create-event-page-submit-row button{
   border-radius: 15px;
   padding: 10px 20px;
   margin:0 auto;
}

/* Delete a Event */
.delete-a-event-modal-container {
   height:200px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding:40px;
    border-radius: 30px;
}
.delete-a-event-modal-container h1{
   font-family: "Dongle";
   font-size:50px;
   line-height: 50px;
   align-self: flex-start;
   margin-bottom:10px;
}
.delete-a-event-modal-container p{
   margin-bottom:14px;
}

.delete-a-event-modal-button-yes {
   background-color: #ff808e;
}

.delete-a-event-modal-button {
   border-radius: 15px;
    padding:10px 20px;
    margin:0 auto;
    margin-top:10px;
    width:160px;
}

@media (max-width: 1050px) {
   .item-container {
       width: 80vw;
       padding: 0 !important;
       margin-bottom: 25px;
   }
   .event-top-row-container{
      flex-flow: column !important;
   }
   .image-container{
       width:100% !important;
   }
   .event-list-item-text-container{
       width: 80vw !important;
       height: fit-content !important;
       margin: 20px 0 !important;
       /* margin-top: 25px !important; */
   }
   .item-container-group-list-about{
       width: 100% !important;
       margin:10px 0px !important;
   }
   /* Event ID Page */
   .event-page-container{
      width:90% !important;
      overflow: hidden;
      display:flex;
      flex-flow: column;
   }
   .event-page-top-background,
   .event-page-top-container{
      width:100% !important;
      padding:0;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .event-page-top-container{
      margin:30px 0;
   }
   .event-page-top-container > *{
      width:fit-content
   }
   .event-page-bottom-background,
   .event-page-content-row{
      width:100%;
      display: flex;
      flex-flow: column;
      align-items: center;
   }
   .event-page-image-container{
      width: 322px !important;
      height: 200px !important;
      margin:30px 0;
   }
   .event-page-image-container img{
      width: 322px !important;
      height: 200px !important;
   }
   .event-page-bottom-container{
      padding:0;
   }
   .event-page-card-container{
      margin:0;
   }
   .event-page-details-description-wrapper{
      margin-bottom: 40px;
   }

}
@media (max-width: 1150px) {
   .item-container {
       flex-flow: column;
   }
   /* .image-container{
       width: 600px !important;
       height: 350px !important;
   } */
   .image-container>img {
       object-fit: cover;
       padding: 0 !important;
   }
}
