.hidden{
    display: none
}
.show-profile-list{
    display:flex;
}

.nav-list i{
    font-size: 45px;
    color:#00e1ff
}

.gather-logo{
    width: 180px;
    padding:10px 0;
    height: auto;
}

.right-nav-container{
    display:flex;
    align-items: center;
}

.nav-list{
    list-style: none;
    display:flex;
    padding: 20px 40px;
    /* border-bottom:3px solid rgb(237, 237, 237); */
    /* box-shadow: 0 1px 15px 5px rgb(244, 244, 244); */
    box-shadow: 0 1px 15px 1px rgb(238, 238, 238);

    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}

.profile-container{
    position:relative;
    display:flex;
    margin-left:20px;
    justify-content: flex-end;
}

.profile-icon-button{
    background:none;
    border:none;
}

.profile-list{
    position:absolute;
    border-radius: 30px;
    border-top-right-radius:0;
    flex-flow: column;
    overflow: hidden;
    top:50;
    right:20;
    /* box-shadow: 0 5px 15px 5px rgb(230, 230, 230);
     */
     box-shadow: 0 1px 15px 1px rgb(238, 238, 238);


    background-color:rgb(255, 255, 255);
}
.nav-upper-container, .nav-lower-container{
    padding:0 40px;
    width:180px;
}
.nav-upper-container{
    padding-top:30px;
    padding-bottom:10px;
    margin-bottom:10px;
    color:black;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
}
.nav-lower-container{
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    flex-flow: column;
    text-align: center;
}
.nav-lower-container-logged-out{
}

.nav-user-email{
    font-size: 13px;
}

.profile-list button{
    width:100px;
    margin:0 auto;
    margin-bottom:10px;
    border-radius: 15px;
    border:none;
    background-color:#00e1ff;
    color:white;
    font-family: Roboto;
    font-weight: bold;
    padding:10px;
}

.nav-new-group{
    /* color:#acacac!important */
    color:#00e1ff !important;

}
.nav-links{
    margin:0 auto;
}
.nav-links a{
    text-decoration: none;
    color:#00e1ff;
    font-size:15px;
}
.nav-view-groups{
    margin-top: 10px;
}
